<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Linguistics Department Workstations</title>
  <link rel="stylesheet" type="text/css" href="static/site.css" media="all" />
  <script src="static/lib/underscore.min.js"></script>
  <script src="static/lib/angular.min.js"></script>
  <script src="static/lib/ngStorage.min.js"></script>
  <script src="static/lib/url.js"></script>
  <script src="static/app.js"></script>
</head>
<body ng-app="adminApp" ng-controller="Ctrl" class="admin">
  <section ng-if="all">
    <h3>All students</h3>
    <p>all active students</p>
    <ul class="names">
      <li ng-repeat="student in students">{{student.name}}</li>
    </ul>
  </section>
  <section>
    <h3>Incumbents</h3>
    <p>all students with a workstation</p>
    <ul class="names">
      <li ng-repeat="student in students | where:{incumbent:true}">{{student.name}}</li>
    </ul>
  </section>
  <section>
    <h3>Privileged</h3>
    <p>students who need workstations</p>
    <textarea class="names" separator="'\n'" ng-model="$storage.privileged" style="height: 400px">
    </textarea>

    <div ng-show="privileged_missing">
      <p>names that don't match up</p>
      <ul class="names">
        <li ng-repeat="name in privileged_missing track by $index">{{name}}</li>
      </ul>
    </div>
  </section>
  <section>
    <h3>➔</h3>
  </section>
  <section>
    <h3>Residents</h3>
    <p>will stay in their current place</p>
    <ul class="names">
      <li ng-repeat="student in students | where:{resident:true}">{{student.name}}</li>
    </ul>

    <h3>Incoming</h3>
    <p>need a place to move into</p>
    <ul class="names">
      <li ng-repeat="student in students | where:{incoming:true}">{{student.name}}</li>
    </ul>
  </section>
  <section>
    <h3>Itinerants</h3>
    <p>may need to move out</p>
    <ul class="names">
      <li ng-repeat="student in students | where:{itinerant:true}">{{student.name}}</li>
    </ul>

    <h3>Evictions</h3>
    <p>need to move out (were not awarded workstation via application)</p>
    <ul class="names">
      <li ng-repeat="student in students | where:{itinerant:true,winner:false}">{{student.name}}</li>
    </ul>
  </section>

  <section>
    <h3>Homeless</h3>
    <p>= unprivileged (send these guys emails)</p>
    <select ng-model="$storage.studentFormat">
      <option value="name">name</option>
      <option value="email">email</option>
      <option value="both">"name" &lt;email&gt;,</option>
    </select>
    <ul class="names">
      <li ng-repeat="student in students | where:{homeless:true}">
        <span ng-if="$storage.studentFormat == 'name'">{{student.name}}</span>
        <span ng-if="$storage.studentFormat == 'email'">{{student.email}}</span>
        <span ng-if="$storage.studentFormat == 'both'">"{{student.name}}" &lt;{{student.email}}&gt;,</span>
      </li>
    </ul>
  </section>

  <section>
    <h3>Winners</h3>
    <p>application approved</p>
    <textarea class="names" separator="'\n'" ng-model="$storage.winners" style="height: 200px">
    </textarea>

    <div ng-show="winners_missing">
      <p>names that don't match up</p>
      <ul class="names">
        <li ng-repeat="name in winners_missing track by $index">{{name}}</li>
      </ul>
    </div>

    <label>
      <h5>Number of workstations:</h5>
      <input ng-model="$storage.nworkstations" />
    </label>
    <p>{{$storage.nworkstations}} workstations - {{$storage.privileged.length}} privileged =
      space for {{$storage.nworkstations - $storage.privileged.length}} winner(s).</p>
  </section>

  <footer>
    <a ng-href="?privileged={{$storage.privileged.join('\n') | encode}}&winners={{$storage.winners.join('\n') | encode}}">Link</a>
  </footer>

</body>
</html>
