body{margin:.25in .375in 0 .375in}
@page{size:landscape;margin:auto 0}
@media screen{body{background-color:#FDFDFD}
.instructions{margin-bottom:2em;border:1px solid #DFDFDF;background-color:#fff;font-size:90%}
.instructions>a{display:block;text-align:right;background-color:#F9F9F9;border-bottom:1px solid #DFDFDF;padding:.5ex 1ex;text-decoration:none}
.instructions>a:hover{background-color:#EFEFEF;color:#000}
.instructions>div{padding:0 10px}
.instructions .button{margin:0 2px;padding:2px 6px 3px;background:linear-gradient(to bottom,#f6f6f6,#dfdfdf);border:1px outset #F2F2F2;border-radius:2px;box-shadow:0 0 2px 0 #5298FA;font:700 11px "Lucida Grande",Helvetica,sans-serif;color:#444}
}
@media print{body{background:0 0}
.instructions{display:none!important}
}
.admin section{display:inline-block;margin:5px;vertical-align:top}
.admin p{margin:.5ex 0;font-size:75%;color:#333;max-width:175px}
.admin h1,.admin h2,.admin h3,.admin h4,.admin h5,.admin h6{margin:.5ex 0}
.admin textarea,.admin ul{box-sizing:border-box;max-height:400px;overflow:auto;margin:.5ex 0;padding:2px 3px 3px;border:1px solid #777;color:#333;font-family:"Lucida Grande",Arial,Verdana,sans-serif;font-size:11px}
.admin ul{background-color:#EEE}
.admin ul li{list-style-type:none}
.admin textarea{max-width:175px}